html, 
body {
  background: #336699 url('../Images/webbkg.png') center top repeat-x;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  font-family: tahoma;
}

#pnlMain {
  position: relative;
  text-align: center;
  width: 600px;
  margin: 0px auto;
  top: 40px;
}

a {
  color: #444;
}

a:hover {
  color: #666;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  color: #ddd;
}

h2 {
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  position: relative;
  top: 296px; 
  width: 640px;
}

#help {
  position: absolute;
  top: 400px;
  font-size: 10px; 
  text-align: left;
}

#playground, 
#pnlRegisterScore {
  width: 600px;
  height: 300px;
  position: absolute;
  display: block;
  border-left: 0 solid #444;
  border-top: 0 solid #333;
  border-right: 0 solid #777;
  border-bottom: 0 solid #888;
  background: #ddd url('../Images/bkgp.png') repeat-x;
  overflow: hidden; 
  -moz-background-clip: -moz-initial;
  -moz-background-origin: -moz-initial;
  -moz-background-inline-policy: -moz-initial;
  background-position: 0px 0px;
}

#pnlRegisterScore {
  height: 200px;
  background: #FFF;
  z-index: 999999;
  font-size: 25px;
  color: #000;
  display: none;
  padding-top: 100px;
}

#pnlRegisterScore input {
  font-size: 25px;
  width: 50px;
}

#pnlRegisterScore button {
  color: #000;
}

#intro {
  width: 600px;
  height:300px;
  background: url('../Images/megaman.jpg') no-repeat;
}	
		
#btnStart {
  position: absolute;
  top: 260px;
  left: 50%;
  margin-left: -97px; 
  color: red; 
  font-weight: bold; 
  visibility: hidden;
}

#debug {
  font-size: 11px;
  width: 590px;
  position: absolute;
  top: 349px;
  background: #99CCFF;
  color: #000;
  padding: 5px;
}

.sprite {
  overflow: hidden;
  position: absolute;
  display: block;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

#btnStart {
  cursor: pointer;
}

#loadingBar {
  background: red none repeat scroll 0% 0%;
  position: relative; 
  left: 100px; 
  height: 15px; 
  width: 0px; 
  -moz-background-clip: -moz-initial; 
  -moz-background-origin: -moz-initial; 
  -moz-background-inline-policy: -moz-initial;
}

#player {
  width: 54px;
  height: 50px;
  left: 50px;
  top: 75px;
  background-image: url('../Images/player.png');
}

#gun_laser {
  width: 640px;
  height: 44px;
  left: 104px;
  top: 75px;
  visibility: hidden;
}